@model WebUI.Models.ViewModels.AddSaleViewModel

@{
    ViewData["Title"] = "Satış Ekle";
}

<form method="POST" action="@Url.Action("Add", "Sale")" enctype="multipart/form-data">
     <div class="row">
          <div class="col-md-6 form-group">
               <label>Ürün</label>

               <select name="ProductId" onchange="getProductPrice(this.value)" class="form-control" required>
                    <option value="">Seçiniz</option>

                @{
                    foreach (var item in Model.ProductList)
                    {
                            <option value="@item.Id">@item.Name</option>
                    }
                }
               </select>
          </div>
          <div class="col-md-6 form-group">
               <label>Müşteri</label>

               <select name="CustomerId" class="form-control" required>
                    <option value="">Seçiniz</option>

                @{
                    foreach (var item in Model.CustomerList)
                    {
                            <option value="@item.Id">@item.NameSurname - @item.Phone</option>
                    }
                }
               </select>
          </div>
     </div>

     <div class="mt-3 row">
          <div class="col-md-6 form-group">
               <label>Değişim & Tamir Merkezi</label>

               <select name="RepairChangeCenterUserId" class="form-control" required>
                    <option value="">Seçiniz</option>

                @{
                    foreach (var item in Model.UserList)
                    {
                            <option value="@item.Id">@item.NameSurname</option>
                    }
                }
               </select>
          </div>
          <div class="col-md-6 form-group">
               <label>Fiyat</label>
               <input class="form-control" id="Price" name="Price" type="number" required />
          </div>
     </div>

     <div class="mt-3 row">
          <div class="col-md-12">
               <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
     </div>
</form>

<script>
     function getProductPrice(_productId) {

         if (_productId == '') {
             $("#Price").val('');
             return;
         }

         $.ajax({
             url: '@Url.Action("GetProductPrice","Sale")',
             dataType: 'JSON',
             data: { _productId: _productId },
             success: function (data) {
                 $("#Price").val(data);
             }
         });
     }
</script>