@using Domain.Enums;
@model WebUI.Models.ViewModels.SaleListViewModel

@{
    ViewData["Title"] = "Satış Listesi";
}

<form method="get" action="@Url.Action("Index", "Sale")">
     <div class="mb-5 card">
          <h5 class="card-header">Filtreler</h5>
          <div class="card-body">
               <div class="row">
                    <div class="col-md-2 form-group">
                         <label>Ürün</label>
                    @Html.TextBoxFor(x=>x.ProductName,new{@class="form-control"})
                    </div>
                    <div class="col-md-2 form-group">
                         <label>Müşteri</label>
                    @Html.TextBoxFor(x=>x.CustomerName,new{@class="form-control"})
                    </div>
                    <div class="col-md-2 form-group">
                         <label>Değiş. & Tamir Merkezi</label>
                    @Html.TextBoxFor(x=>x.RepairChangeCenterName,new{@class="form-control"})
                    </div>
                    <div class="col-md-2 form-group">
                         <label>Oluşturulma Tarihi</label>
                    @Html.TextBoxFor(x=>x.CreatedDate,new{@class="form-control",type="date"})
                    </div>
                    <div class="col-md-2 form-group">
                         <label>Oluşturan Kullanıcı</label>
                    @Html.TextBoxFor(x=>x.CreatedUser,new{@class="form-control"})
                    </div>
                    <div class="col-md-2 form-group">
                         <label>&nbsp;</label>

                         <div class="row">
                              <div class="col-md-6">
                                   <button type="submit" class="form-control btn btn-primary"><i class="fa fa-search"></i></button>
                              </div>
                              <div class="col-md-6">
                                   <button onclick="window.location = '@Url.Action("Index", "Sale")'" type="button" class="form-control btn btn-primary"><i class="fa fa-refresh"></i></button>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</form>

<table class="dTable table table-striped">
     <thead>
          <tr>
               <th>Resim</th>
               <th>Ürün</th>
               <th>Müşteri</th>
               <th>Değişim & Tamir Merkezi</th>
               <th>Fiyat</th>
               <th>Garantisi Var Mı?</th>
               <th>Oluşturulma Tarihi</th>
               <th>Oluşturan Kullanıcı</th>
               <th>Güncellenme Tarihi</th>
               <th>Güncelleyen Kullanıcı</th>
               <th></th>
               <th></th>
               <th></th>
               <th></th>
          </tr>
     </thead>
     <tbody>
        @{
            foreach (var item in Model.SaleList.OrderByDescending(x => x.Id))
            {
                  <tr>
                       <td><img class="img img-thumbnail" style="max-width: 100px" src="~/uploads/@item.PhotoPath" /></td>
                       <td>@item.Product</td>
                       <td>@item.Customer</td>
                       <td>@item.RepairChangeCenterUser</td>
                       <td>@item.Price</td>
                    @{
                        if (item.IsWarrantyActive)
                        {
                               <td><i class="fa text-success h5 fa-check-circle" /></td>
                        }
                        else
                        {
                               <td><i class="fa text-danger h5 fa-times-circle" /></td>
                        }
                    }
                       <td>@item.CreatedDate.ToString("dd.MM.yyyy HH:mm")</td>
                       <td>@item.CreatedUser</td>
                       <td>@(item.UpdatedDate.HasValue ? item.UpdatedDate.GetValueOrDefault().ToString("dd.MM.yyyy HH:mm") : "")</td>
                       <td>@item.UpdatedUser</td>
                       <td class="align-middle">
                        @{
                            if (ViewBag.UserType == UserType.DealerUser)
                            {
                                    <a class="h5" href="@Url.Action("Delete", "Sale", new { id=item.Id})"><i class="fa fa-trash"></i></a>
                            }
                        }
                       </td>
                       <td class="align-middle">
                        @{
                            if (ViewBag.UserType == UserType.DealerUser)
                            {
                                    <a title="Garanti Tanımla" class="h5" href="@Url.Action("Add", "SaleWarranty", new { id=item.Id})"><i class="fa fa-certificate"></i></a>
                            }
                        }
                       </td>
                       <td class="align-middle"><a title="Garanti & Tamir Geçmişi" class="h5" href="@Url.Action("History", "Sale", new { id=item.Id})"><i class="fa fa-history" /></a></td>
                       <td class="align-middle">
                        @{
                            if (item.IsWarrantyActive && ViewBag.UserType == UserType.RepairChangeCenterUser)
                            {
                                    <a title="Ürüne Arıza Ekle" class="h5" href="@Url.Action("Add", "SaleProblem", new { id=item.Id})"><i class="fa fa-plus-circle"></i></a>
                            }
                        }
                       </td>

                  </tr>
            }
        }
     </tbody>
</table>