@using Domain.Enums;
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>@ViewData["Title"] - WebUI</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/WebUI.styles.css" asp-append-version="true" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script src="~/js/site.js" asp-append-version="true"></script>
     <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
     <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
</head>
<body>
     <header>
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
               <div class="container-fluid">
                    <a class="navbar-brand" href="#">@ViewData["Title"]</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @*   <ul class="navbar-nav">
                         <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                         </li>
                         <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                         </li>*@
                    @*</ul>*@
                         <ul class="navbar-nav">
                              <li class="nav-item">
                                   <a href="@Url.Action("Index", "Home")" class="btn" id="dropdownMenuButton2">
                                        Anasayfa
                                   </a>
                              </li>
                        @{
                            if (ViewBag.UserType == UserType.FirmUser)
                            {
                                      <li>
                                           <a href="@Url.Action("Index", "Dashboard")" class="btn" id="dropdownMenuButton2">
                                                Dashboard
                                           </a>
                                      </li>
                            }
                        }
                        @{
                            if (ViewBag.UserType == UserType.FirmUser)
                            {
                                      <li class="nav-item">
                                           <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                     Kullanıcı İşlemleri
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                     <li><a class="dropdown-item" href="@Url.Action("Index", "User")">Kullanıcı Listesi</a></li>
                                                     <li><a class="dropdown-item" href="@Url.Action("Add", "User")">Kullanıcı Ekle</a></li>
                                                </ul>
                                           </div>
                                      </li>
                            }
                        }
                        @{
                            if (ViewBag.UserType == UserType.FirmUser)
                            {

                                      <li class="nav-item">
                                           <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                     Ürün İşlemleri
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                     <li><a class="dropdown-item" href="@Url.Action("Index", "Product")">Ürün Listesi</a></li>
                                                     <li><a class="dropdown-item" href="@Url.Action("Add", "Product")">Ürün Ekle</a></li>
                                                </ul>
                                           </div>
                                      </li>
                            }
                        }
                        @{
                            if (ViewBag.UserType == UserType.FirmUser)
                            {
                                      <li class="nav-item">
                                           <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                     Garanti Tipi İşlemleri
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                     <li><a class="dropdown-item" href="@Url.Action("Index", "WarrantyType")">Garanti Tipi Listesi</a></li>
                                                     <li><a class="dropdown-item" href="@Url.Action("Add", "WarrantyType")">Garanti Tipi Ekle</a></li>
                                                </ul>
                                           </div>
                                      </li>
                            }
                        }
                        @{
                            if (ViewBag.UserType == UserType.FirmUser)
                            {
                                      <li class="nav-item">
                                           <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                     Arıza Listesi
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                     <li><a class="dropdown-item" href="@Url.Action("Index", "Problem")">Arıza Listesi</a></li>
                                                     <li><a class="dropdown-item" href="@Url.Action("Add", "Problem")">Arıza Ekle</a></li>
                                                </ul>
                                           </div>
                                      </li>
                            }
                        }
                        @{
                            if (ViewBag.UserType == UserType.DealerUser)
                            {
                                      <li class="nav-item">
                                           <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                     Müşteri İşlemleri
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                     <li><a class="dropdown-item" href="@Url.Action("Index", "Customer")">Müşteri Listesi</a></li>
                                                     <li><a class="dropdown-item" href="@Url.Action("Add", "Customer")">Müşteri Ekle</a></li>
                                                </ul>
                                           </div>
                                      </li>
                            }
                        }
                              <li class="nav-item">
                                   <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                             Satış İşlemleri
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                             <li><a class="dropdown-item" href="@Url.Action("Index", "Sale")">Satış Listesi</a></li>
                                    @{
                                        if (ViewBag.UserType == UserType.DealerUser)
                                        {
                                                     <li><a class="dropdown-item" href="@Url.Action("Add", "Sale")">Satış Ekle</a></li>
                                        }
                                    }
                                        </ul>
                                   </div>
                              </li>

                        @{
                            if (ViewBag.UserType == UserType.FirmUser)
                            {
                                      <li>
                                           <a href="@Url.Action("Index", "Log")" class="btn" id="dropdownMenuButton2">
                                                Canlı Loglar
                                           </a>
                                      </li>
                            }
                        }
                         </ul>
                         <div>
                              <span style="margin-right: 15px;">
                            @ViewBag.Username
                              </span>
                              <a href="@Url.Action("Logout", "Home")">Çıkış Yap</a>
                         </div>
                    </div>
               </div>
          </nav>
     </header>
     <div class="container">
          <main role="main" class="pb-3">
            @{
                if (TempData["ErrorMessage"] != null)
                {
                       <div class="mb-5 alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                       </div>
                }
            }

            @{
                if (TempData["SuccessMessage"] != null)
                {
                       <div class="mb-5 alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                       </div>
                }
            }

            @RenderBody()
          </main>
     </div>

    @await RenderSectionAsync("Scripts", required: false)

     <script>
          $(document).ready(() => {
              $(".dTable").dataTable({
                  language: {
                      url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/tr.json',
                  },
                  lengthChange: false,
                  pageLength: 10,
                  "order": []
              })
          });
     </script>
</body>
</html>
